[user]
    name = Max Jonas Werner
    email = max@associmates.eu
    signingkey = ~/.ssh/id_ed25519.pub
[color]
    ui = auto
[push]
    default = current
[branch]
    autosetuprebase = always
[core]
    pager = less -FRX
    editor = vim
    excludesFile = ~/.gitignore
[bz]
    browser = firefox3
    firefox-profile = default
[alias]
    wdiff = diff -U0 --color-words
    pb = !git-prune-branches
[credential]
    helper = cache
[gpg]
    format = ssh
[commit]
    gpgsign = true
[log]
    ;showSignature = true
[alias]
    find = !git ls-files|grep
    changelog = !git log --oneline --no-show-signature
[url "git@github.com:"]
    insteadOf = https://github.com
;[init]
    ;defaultBranch = main
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[grep]
    lineNumber = true
[tag]
    sort = version:refname
[init]
	defaultBranch = main
[gpg "ssh"]
	allowedSignersFile = /Users/max/.config/git/allowed_signers
